# Core FastAPI
fastapi
uvicorn[standard]
python-multipart

# Database
sqlalchemy
pymysql
cryptography
alembic

# Excel processing
pandas
openpyxl
xlrd

# Utilities
python-dotenv
pydantic[email]

# Authentication & Security
passlib[bcrypt]==1.7.4
bcrypt==3.2.2
python-jose[cryptography]

# # HTTP client (ProcessMaker integration)
# requests
# beautifulsoup4
# lxml