# Core FastAPI
fastapi
uvicorn[standard]
python-multipart

# Database
sqlalchemy
pymysql
cryptography
alembic

# Excel processing
pandas
openpyxl
xlrd

# Utilities
python-dotenv
pydantic[email]>=2.0,<3.0

# Authentication & Security
passlib[bcrypt]==1.7.4
bcrypt==3.2.2
python-jose[cryptography]

# instead of cron i used apscheduler to run api in the background - by gids
apscheduler==3.10.4
# # HTTP client (ProcessMaker integration)
# requests
# beautifulsoup4
# lxml

# OAuth / HTTP client (Google / YouTube OAuth)
authlib==1.3.0
httpx==0.27.0

# Spell check
pyenchant

# Rename PDF
pdfplumber
Pillow
pymupdf
pytesseract
pyzbar

google-api-python-client>=2.100.0
google-auth>=2.23.0
google-auth-httplib2>=0.1.1
